<mat-toolbar color="primary">
  <span>Showcase Demo</span>
  <span>
    <a matButton [routerLink]="''">{{'NAVBAR.HOME' | translate}} </a>
  </span>
  <span>
    <a matButton [routerLink]="'products'">{{'NAVBAR.PRODUCTS' | translate}}</a>
  </span>

  <span class="spacer"></span>

  @if(authService.isLoggedIn()){
    <span>
      <a matButton (click)="authService.logout()">{{'NAVBAR.LOGOUT' | translate}}</a>
    </span>
    <span>
      <a matButton [routerLink]="'admin-panel'">{{'NAVBAR.ADMIN_PANEL' | translate}}</a>
    </span>
  }@else {
    <span>
      <a matButton [routerLink]="'login'">{{'NAVBAR.LOGIN' | translate}}</a>
    </span>
  }
    
  <button matButton [routerLink]="'shopping-cart'">
    <mat-icon aria-hidden="false" aria-label="Shopping Cart" fontIcon="shopping_cart"
    ></mat-icon>
    {{cartService.cartCount()}}
  </button>

  <button mat-icon-button [matMenuTriggerFor]="lagMenu">
    <mat-icon aria-hidden="false" aria-label="Language" fontIcon="language" style="color: white;"></mat-icon>
  </button>

  <mat-menu #lagMenu="matMenu">
    @for(lang  of translate.getLangs(); track lang ){
      <button mat-menu-item (click)="changeLang(lang)">
        <span> {{ lang.toLocaleUpperCase() }}</span>
      </button>
    }
  </mat-menu>

</mat-toolbar>
